:root {
  color-scheme: dark;
  --cell-size: 150px;
  --green: #5ccc37;
}

body {
  margin: 0;
  padding: 0;
}

#wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.game {
  display: flex;
  justify-content: center;
}

.board {
  width: fit-content;
  height: fit-content;
  display: grid;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(3, auto);
  margin: auto;
}

.cell {
  width: var(--cell-size);
  height: var(--cell-size);
  border: 2px solid var(--green);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: transparent;
  color: var(--green);
  font-size: 50px;
}

.cell:nth-child(1),
.cell:nth-child(2),
.cell:nth-child(3) {
  border-top: none;
}

.cell:nth-child(1),
.cell:nth-child(4),
.cell:nth-child(7) {
  border-left: none;
}

.cell:nth-child(3),
.cell:nth-child(6),
.cell:nth-child(9) {
  border-right: none;
}

.cell:nth-child(7),
.cell:nth-child(8),
.cell:nth-child(9) {
  border-bottom: none;
}
